<h1>Welcome to the Shoe Store Database!</h1>
<h2>A place where you can find your favorite shoe.</h2>

<p><a href='/shoes'>Add a shoe</a></p>
<p><A href='/stores'>Add a store</a></p>

<h3>Here are all of the stores in our database:</h3>

<% if @stores.any?() %>
  <p>Click on a store to see their inventory of shoes:</p>

  <ul>
    <% @stores.each do |store| %>
      <li><a href='/stores/<%= store.id() %>'><%= store.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no stores added yet!</p>
<% end %>

<h3>Here are all of the shoes in our database:</h3>

<% if @shoes.any?() %>
  <p>Click on a shoe to see what store has inventory:</p>

  <ul>
    <% @shoes.each do |shoe| %>
      <li><a href='/shoes/<%= shoe.id() %>'><%= shoe.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no stores that have this shoe in stock.</p>
<% end %>
